.footer-container {
    width: 100%;
    height: 80px;
    background-color: #fff7f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0 1px 10px rgba(95, 111, 149, 0.35);


}

.iconFooter {
    margin-right: 10px;
}