
.filter-button
{
    width: 120px;
    height: 40px;
    background-color: #FFB9A4;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    
}

.filter-button:hover {
    background-color: antiquewhite;
}

.Categories-container 
{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  
}

.left-container {
    margin: 15px;
    width: 50%;
    flex-shrink: 1;

}
.category_select{
    margin: 10px 0;
    height: 100%;
    line-height: 10;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    background-color: var(--white-color);
    color: var(--grey-color);
    border: 1px solid var(--grey-color-light);
    padding: 0 20px;
}

.input1 {
        margin: 10px 0;
        height: 100%;
        line-height: 10;
        width: 100%;
        border-radius: 5px;
        font-size: 18px;
        outline: none;
        background-color: var(--white-color);
        color: var(--grey-color);
        border: 1px solid var(--grey-color-light);
        padding: 0 20px;
}

.input2 {
    border: 1px solid var(--grey-color-light);
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}

textarea {
    margin: 10px 0;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    background-color: var(--white-color);
    color: var(--grey-color);
    border: 1px solid var(--grey-color-light);
    padding: 0 20px;

}

.right-container {
    width: 50%;
    margin: 15px;
    flex-shrink: 1;
}

table {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }

  tr:nth-child(even){background-color: #f2f2f2;}

  th {
    padding: 10px 5px;
    background-color: #FFB58A;
    color: white;
  }
  
  td {
    padding: 10px 5px;
  }

td:nth-child(4), td:nth-child(5){
    cursor: pointer;
}

.Categories-container p {
    font-size: 18px;
}