.edit-user-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 100px;
    margin-left: 300px;
}

.edit-user-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.edit-user-container form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.edit-user-container form input,
.edit-user-container form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.edit-user-container form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.edit-user-container form button:hover {
    background-color: #2980b9;
}
