
.MainProduct-container {
    width: 1200px; 
    margin-top: 30px;
    margin-left: 300px;
    border: 1px solid #C5C5C5;
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    align-items: center; /* Center the cards vertically */
    padding: 16px; /* Add padding to create space between the cards and the container's border */
  }
  
 #div{
  width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }

  
.card{
  min-width : 200px; 
  min-height : 350px; 
  border : 1px solid #eee; 
  overflow : hidden; 
  padding : 10px; 
  box-shadow : 2px 8px 20px #ddd; 
  margin : 10px; 
  transition : 0.5s linear;
}
.card:hover{
  box-shadow: none;
}

.card img{
  max-width : 200px; 
  width : 100%; 
  height : 100%; 
  max-height : 200px; 
  display : block; 
  object-fit : cover;
}

.card h3{
  text-transform : uppercase; 
  margin : 10px 0;
}
 
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 300px;
  margin-top: 100px;
  margin-left: 300px;
 }
 
 .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: #f3f3f4;
  background-color: #fff;
  box-shadow: 0 0 0 2px #f3f3f4;
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 
 
 
 
 
 