.wrapper {
  position: relative;
  top: 75px;
  width: 100%;
  height: auto;
  background-color: #fff7f4;
}

.sort {
  position: relative;
  top: 50px;
}

.info-home {
  margin: 20px;
  width: 80%;
  font-size: 30px;
  background-color: #fff7f4;
}

.info-home .icon-home {
  color: black;
}

.sort select {
  position: relative;
  left: 20px;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #ffbfa8;
  cursor: pointer;
}


.row {
  position: relative;
  top: 100px;
  width: 100%;
  height: 100%;
}

.pagination {
  position: relative;
  top: 75px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
  border: none;
  cursor: pointer;
}

.pagination button:focus {
  outline: none;
  background-color: #333;
  color: white;
}

.pagination button:hover {
  background-color: #ddd;
}


.pagination1 {
  display: flex;
  justify-content: flex-end;
  transform: translateX(-50px);
}

.pagination1 button {
  margin: 0 5px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
  border: none;
  cursor: pointer;
}

.pagination1 button:focus {
  outline: none;
  background-color: #ee4266;
}

.pagination1 button:hover {
  background-color: #ddd;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card{
  position: relative;
  width: 20%;
  height: auto;
  background-color: #fff7f4;
}

footer {
  position: relative;
  top: 120px;
  width: 100%;
  height: 100%;
  background-color: #fff7f4;
}
