.wrapper-newProduct {
  width: 100%;
  padding: 20px 30px;
  margin: 0 auto;
}


.wrapper-newProduct.active {
  overflow: hidden;
}

.card {
  width: 100%;
  background: #fff7f4;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  border-radius: 15px;
  margin: 20px;
  flex-basis: 20%;
}


.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body h3{
  margin-bottom: 20px;
}


.card-body .btn {
  color: #fff;
  text-align: center;
  background: #85270b;
  margin-top: auto;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 15px;

}

.card-body .btn-order:hover {
  background: #a82700;

}

.btn-order:hover::before {
  content: "Thêm vào giỏ hàng";
}

.icon-shopping-bag {
  margin: 0 8px;
}

.btn-order:hover span {
  display: none;
  /* Ẩn văn bản gốc */
}

.card-detail .btn {
  display: block;
  width: 200px;
  color: #000000;
  text-align: center;
  background: linear-gradient(to right, #fffcfc, #ffffff);
  margin: 0px auto;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #000000;
}

.card-detail .btn:hover {
  color: #ffffff;
  background: linear-gradient(to right, #111010, #000000);
}

.img1:hover {
  transform: scale(1.05);
}



.img1 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}



.action {
  margin: 5px 0px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.action:hover {
  color: darkcyan;
}

.action-product {
  position: absolute;
  top: 5rem;
  right: 40px;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.card:hover .action-product {
  opacity: 1;
}

.action-product span {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 11;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}

.new-product {
  background-color: #fff7f4;
  width: 95%;
  margin: 0 auto;

}

.card .popup-card {
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .popup-card .popup-content {
  z-index: 20;
  background: #fff;
  position: absolute;
  width: 90%;
  height: 600px;
  margin: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  border-radius: 20px;
  padding: 20px;
}

.card .popup-card .popup-content .popup-body {
  display: flex;
  justify-content: space-around;
}

.card .popup-card .popup-content .popup-body .popup-img {
  flex-basis: 30%;
}

.card .popup-card .popup-content .popup-body .popup-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .popup-card .popup-content .popup-body .popup-info {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.card .popup-card .popup-content .popup-body .popup-info .popup-name {
  font-size: 50px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.card .popup-card .popup-content .popup-body .popup-info .popup-price {
  font-size: 35px;
  font-family: "Poppins";
  font-weight: bold;
  color: red;
}

.card .popup-card .popup-content .popup-body .popup-info .popup-color {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card .popup-card .popup-content .popup-body .popup-info .popup-button1 {
  margin: 0 5px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  border: 0.5px solid black;
  cursor: pointer;
}

.card .popup-card .popup-content .popup-body .popup-info .popup-button2 {
  margin: 0 5px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid black;
  cursor: pointer;
}

.card .popup-card .popup-content .popup-body .popup-info .popup-button3 {
  margin: 0 5px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  border: 0.5px solid black;
  cursor: pointer;
}

.card .popup-card .popup-content .popup-body .popup-info .popup-color button:focus {
  border: 2px solid black;
}

.card .popup-card .popup-content .popup-body .popup-info .popup-color button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.popup-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 50px;
}

.popup-quantity-par {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 10%;
}


.minus-btn {
  width: 46px;
  height: 46px;
  font-size: 20px;
  border: 1px solid #ced4da;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  outline: none;
  border-radius: 10% 0 0 10%;
}

.plus-btn {
  width: 46px;
  height: 46px;
  font-size: 20px;
  border: 1px solid #ced4da;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  outline: none;
  border-radius: 0 10% 10% 0;
}

.quantity-value {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.popup-static {
  font-size: 16px;
}

.popup-add {
  margin-top: 32px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  color: #f02757;
  border: none;
  border: #f02757 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.popup-add:hover {
  background-color: #f02757;
  color: white;
}

.popup-add:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.popup-form {
  position: relative;
  top: 15%;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.popup-form fieldset {
  border: 1px dashed #f02757;
}

.popup-form legend {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
  color: #f02757;
}








/* .card .popup-card span {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1000;
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
  color: #fff;
  user-select: none;
} */