.footer {
    width: 95%;
    height: auto;
    background-color: #fff7f4;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    font-size: 2rem;
    margin-top: 50px;
  
}

.iconFooter {
    margin-right: 10px;
}