@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');

html {
    font-size: 62.5%;
}
body{
    background-color: #A76F6F;
    font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}

.logo{
 
    width:100px;
    height: 60px; 
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
   
}

a {
    text-decoration: none;
}





.header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: #fff7f4 ;
    margin: 0 auto;
    border: 1px solid black;
}


.main-menu {
  position: relative;
  top: -30px;
  left: 120px;
  display: inline-block;
  padding: 0;
  padding-top: -40px;
  margin: 0;
  list-style-type: none;
  transform: translate(0,-14px);
}

.menu-right
{
  display: inline-block;
  position: relative;
  right: -20%;

}

.menu-right > input 
{
  border: 1px solid black;
  font-size: 2rem;
  position: relative;
  left: 2.5rem;
  border-radius: 10px;
}

.menu-text {
  color:#191312;
  font-size: 2rem;
}

.menu-text:hover {
  border-top: 1px solid darkcyan;
  border-bottom: 1px solid brown;
  color: darkcyan;
}

.menu-icon

{
  margin-left: 30px;
}

.menu-icon:hover {

  color: darkcyan;
  border: none;

}


.header li {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-left:60px;
}




::placeholder {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-areas: 'Type1 Type2 Type3 Type4 Type5';
}

li.Type{
  display: block;
  padding-left: 0px;
  margin-left: 0;
  font-size: 15px;
  
}
ul.Product{
  padding-left: 0;
}
h5{
  padding-left: 10px;
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
}