*{
    text-decoration: none;
}


.order_detail-container 
{
    width: 1200px;
    height: 688px;
    margin-top: 100px;
    margin-left: 300px;
    border: 2px solid #C5C5C5;
}

.order_detail-header
{
    width: 1200px;
    height: 100px;
    background-color: #E1E1E1;
    padding : 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    width: 170px;
    height: 40px;
    
}

.order_detail-info
{
    display: flex;
    padding : 30px;
    justify-content: space-between;
}

.order_detail-center
{
    padding: 30px;
}

.check-product {
   width: 850px;
   height: 376px;
   border: 1px solid #C5C5C5;

}

.price-total:nth-child(4)
{
    margin-top: 70px;
}


.price-total 
{
    margin-left: 80%;
}

.btn-checked
{
    width: 180px;
    height: 40px;
    background-color: #FFB9A4;
    text-align: center;
    padding: 5px;
    position: relative;
    top: -300px;
    left: 900px;
    
}

.btn-checked:hover 
{
    background-color: antiquewhite;
}
