
.info-discount {
    width: 95%;
    margin: 0 auto;
    background-color: #fff7f4;;
    position: relative;
  }
  
  .sales-image {
    display: block;
    width: 95%;
    margin: 0px auto;
    padding: 40px 0px 40px 0px;
  }
  
  
  
  
  .info-discount > h1 {
    font-size: 10rem;
    font-weight: bold;
    color: #f9f9f7;
    font-family: 'Abril Fatface';
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  .info-discount > span {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: #f9f9f7;
    font-family: 'Abril Fatface';
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .info-discount .btn {
    margin-top: 10px;
    width: 200px;
    color: #000000;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #414042;
    color: #fff;
    margin: 0px auto;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #414042;
    font-family: 'Noto Sans';
    font-weight: bold;
  }
  
  .info-discount .btn:hover {
    background-color: #000;
  }