
.new-product
{
  background-color: #fff7f4;
  width: 95%;
  margin: 0 auto;

}

.side-content {
  display: flex;
  background-color: #fff7f4;
  width: 95%;
  margin: 0 auto;
}


.side-image {
  width: 50%;
}

.side-image-0 {
  width: 100%;
  object-fit: cover;
  margin-top: 50px;
}

.side-content-info {
  width: 50%;
  font-size: 30px;
  margin-top: 70px;
  padding: 30px;
}

.side-content-explain {
  color: #301d15;
}

.collection-detail 
{
  display: block;
  position: relative;
  text-decoration: none;
  color: #84817a;
  margin: 10px auto;
  font-weight: bold;
  font-size: 20px;
}